.App {
    width: 800px;
    margin:  auto;
    color: #0a3864;
    background-color: #F5F5DC;
    font-family: 'Verdana';
    font-size: 15px;
   }

.my-navbar {
    background-color: rgba (0, 0, 0, 0.5);
    height: 30px;
    padding: 20px;
    display: flex;
    border: 2px solid;
} 

.App nav button {
    margin-left: 200px;
    font-size: 1.2em;
    height: 30px;
    font-weight: bold;
    /* justify-content:flex-end; */
}

h2 {
    border-bottom: 5px solid #ccc;
    margin-top: 2em;
}

#container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;

}

.App h2 {
    font-weight: bold;
}