h2 {
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.DayView {
display: center;
margin-top: 45px;
margin-left: 0px;
margin-right: 0px;    
}

.DayView h3 {
    font-weight: bold;
    font-size: 23px;
    color: rgb(35, 121, 213);
    border-bottom: 5px solid #ccc;
}