.ResolutionList ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 70px;
}

.ResolutionList li.complete {
    text-decoration: line-through;
    color: #888;
}

.ResolutionList button {
    margin: 3px 5px;
}

.ResolutionList {
    margin-top: 15px;
    margin-bottom: 40px;
}
